@import "tailwindcss";

@theme {
  /* Tons de Cinza Pedra */
  --color-pedra-fundo: #0f1015;
  --color-pedra-card: #181a20;
  --color-pedra-borda: #2a2d37;

  /* Tons de Rubi */
  --color-rubi: #9b111e;
  --color-rubi-hover: #c41e3a;

  /* Tons de Dourado */
  --color-dourado: #d4af37;
  --color-dourado-hover: #f3c623;
}

body {
  background-color: var(--color-pedra-fundo);
  color: #e2e8f0;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}


